<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="born_carttocsv" frontName="cart_export">
            <module name="Born_CartToCsv"/>
        </route>
    </router>
</config>